:root {
  --clr-green-primary: #c3e991;
  --clr-green-primary-hover: #9dca61;
  --clr-like-red: #ed4956;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #88888860;
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.disable-scroll {
  overflow-y: hidden;
}
