:root {
  --clr-green-primary: #c3e991;
  --clr-green-primary-hover: #9dca61;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}
